*{
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: mintcream;
    margin: 1rem;
    color: darkgray;
}

h1 {

    font-size: 3rem;
    color: darkorange;
}

audio, video, img {
    margin: 2rem;
}

button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;

}

.grid {
display: grid;
grid-template-rows: 1fr 1fr 1fr 1fr ;
width: 1024px;
margin: 2% auto;
}

section.no-voting img:hover{
border:5px sold transparent;
cursor: not-allowed;
/* pointer-events: none; */
}
section + div.clicks-allowed:hover {

    background-color: blue;
}

canvas {
    width: 75%;
    height: 500px;
}

nav, a {
    text-decoration: none;
    font-size: 2rem;
}

a:hover{
background-color: darkgoldenrod;
}

img {

    width: 400px;
}